
.calculator {
    padding: 15px;
    border-radius: 1em;
    height: 480px;
    width: 350px;
    margin: auto;
    background-color: #cce6ff;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 20px 40px, rgba(0, 0, 0, 0.23) 0px 10px 10px;
}
.display-box {
    font-family: 'Orbitron', sans-serif;
    background-color: #004080;
    border: solid #00264d 4px;
    color:  white;
    border-radius: 0px;
    width: 96%;
    height: 65%;
}
#btn {
    background-color:#00264d;
	    border: solid #00264d 5px;
}
input[type=button] {
    font-family: 'Orbitron', sans-serif;
    background-color: #000000;
    color: white;
    border: solid #000000 5px;
    width: 100%;
    border-radius: 1em;
    height: 70%;
    outline: none;
}
input:active[type=button] {
    background: #e5e5e5;
    -webkit-box-shadow: inset 5px 1px 5px  	 #b3b3b3;
    -moz-box-shadow: inset 5px 1px 5px  	 #b3b3b3;
    box-shadow: inset 5px 1px 0px  	 #b3b3b3;
}
.ball {
  position: absolute;
  border-radius: 100%;
  opacity: 0.7;
}